/* *{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Lato", sans-serif;
}

.bg-purple{
  background: #3158c4;
}

@media (min-width:1300px){
  .container ,.container-lg,.container-md,.container-sm,.container-xl{
    max-width: 1200px;
  }
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8ox !important;
}
::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
::-webkit-scrollbar-track{
  background: transparent !important;
}

.headerWrapper{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.headerWrapper .top-strip{
  padding: 8px 0px;
}

.headerWrapper .top-strip p{
  color: #fafff5;
  font-size: 20px;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.logoWrapper img{
  width: 120px;
  height: 60px;
}

.headerWrapper .header .part2 .countryDrop{
 width: 170px;
 height: 60px;
 min-width: 170px;
 justify-content: start;
 border: 1px solid rgba(0,0,0,0.1);
 border-radius: 7px;
 padding: 10px 15px !important;
 color: #000 !important;
}

.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: flex-start !important;
   gap: 15px;
}

.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px !important;
  color: #233a95;
  text-transform: capitalize !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .lable{
  font-size: 14px !important;
  color: rgba(0,0,0,0.4);
  text-transform: capitalize !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
 margin-left: 4px;
 margin-bottom: 12px;
}


 .headerSearch{
  width: 60%;
  height: 60px;
  background-color: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
}
 .headerSearch input{
 background: transparent !important;
 outline: none !important;
 font-size: 18px;
 color: rgba(0,0,0,0.7);
 width: 100%;
 height: 45px;
 border: 0px !important;
 padding: 0px 20px;
}

 .headerSearch input::-webkit-input-placeholder{
color: rgba(0,0,0,0.6);
}

 .headerSearch button{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}

 .headerSearch button svg{
  font-size: 25px;
  opacity: 0.8;
}

 .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  width: 45px !important;
  height: 45px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  border-radius: 50% !important;
  color: #000;
}
 .part3 .circle svg{
  font-size: 22px;
}

.classTab button{
 background: #fff1ee !important;
}
.classTab button svg{
 color: #ea2b0f !important;
}

.classTab .price{
  color: rgba(0,0,0,0.8);
  font-size: 19px;
  font-weight: 700;
}

.classTab .count{
   background: #ea2b0f;
   top: -6px;
   right: -4px;
   position: absolute;
   border-radius: 50%;
   color: #fff;
   height: 20px;
   width: 20px;
}

nav .navPart1{
  max-width: 20%;
  flex: 0 0 20%;
}
nav .navPart2{
  max-width: 80%;
  flex: 0 0 80%;
}

nav .allCatTab{
  background: #2bbef9;
  padding: 10px 12px !important;
  border-radius: 30px;
}
nav .allCatTab *{
  color: #fff;
}
nav .allCatTab:hover{
  background: #2bbef9;
}
nav .allCatTab .text{
 font-weight: 600;
 font-size: 14px;
}

nav .allCatTab .icon1 svg{
  font-size: 25px !important;
}
nav .allCatTab .icon2 svg{
  font-size: 15px !important;
}

nav .navPart2 ul{
  margin-bottom: 0px;
  gap: 10px;
}
nav .navPart2 ul li a button{
 font-size: 16px;
 font-weight: 800;
 text-decoration: none;
 color: rgba(0,0,0,0.7);
 text-transform: uppercase;
 display: flex;
 align-items: center;
 padding: 8px 18px;
 transition: all 0.3s ease-in-out;
 border-radius: 15px;
}
nav .navPart2 ul li a{
  text-decoration: none;
}

nav .navPart2 ul li a:hover{
  background: #f0faff;
  color: #2bbef9;
}
nav .navPart2 ul li a svg{
  font-size: 20px;
  gap: 2px;
}
.locationModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}

.locationModal .countryList{
  margin-bottom: 0px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
}
.locationModal .countryList li{
  width: 100%;
  list-style: none;

}
.locationModal .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 10px 20px !important;
}

.locationModal .countryList li button:hover{
  background: #f1f1f1;
}

.locationModal .countryList li button.active{
  background: #ccc !important;
}

.locationModal .btn{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px;
  height: 40px;
 border-radius: 50%;
}
.locationModal .btn svg{
  font-size: 22px;
}


 */
