@import "tailwindcss";

/* Custom components layer */
@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }

  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* Nav active */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
