@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
/* @layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
} */

/* ============= NavLink active Start here ============== */
/* nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
} */

/* @media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
} */

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
} */